<h1>Stores</h1>
	<%= link_to "products", products_path, class: "btn btn-default" %>

<div class="container">
			<% @stores.each do |store| %>
				<div class="row run">
				  <%= image_tag store.logo_url(:thumbnail), :width => 100, :height => 150%>
				  <div class="row">
				  	<div class="col-md-2"></div>
					  <div class="col-md-4">
					    <h5 class="card-title"><%= store.name %></h5>
					   	<h5 class="card-title"><%= store.website %></h5>
					    <a href="<%= store.website %>" class="btn btn-primary">Visit</a>

					  </div>
				  </div>
				</div>
			<% end %>
</div>