<!-- banner -->
<script>
(function(e,t){var r=e.rakam||{};var n=t.createElement("script");n.type="text/javascript";
n.async=true;n.src="https://d2f7xo8n6nlhxf.cloudfront.net/rakam.beta.min.js";
n.onload=function(){e.rakam.runQueuedFunctions()};var a=t.getElementsByTagName("script")[0];
a.parentNode.insertBefore(n,a);function s(e,t){e[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
return this}}var i=function(){this._q=[];return this};var o=["set","setOnce","increment","unset"];
for(var c=0;c<o.length;c++){s(i.prototype,o[c])}r.User=i;r._q=[];var u=["init","logEvent","logInlinedEvent","setUserId","getUserId","getDeviceId","setSuperProperties","setOptOut","setVersionName","setDomain","setUserProperties","setDeviceId","onload","onEvent","getTimeOnPreviousPage","getTimeOnPage","startTimer","isReturningUser"];
for(var m=0;m<u.length;m++){s(r,u[m])}e.rakam=r})(window,document);

rakam.init("hpokin8jnmope3hige8hb3ljbj7pf99qo6rgfqmshm3gpjh7meqad9ai93dckel6", "user_id", { 
apiEndpoint:"nestmetricai.herokuapp.com/", 
includeUtm: true, 
trackClicks: true, 
trackForms: true, 
includeReferrer: true,
saveEvents: true,
batchEvents: true,
eventUploadThreshold: 30,
eventUploadPeriodMillis: 30000
}, function() {
var e = document.documentElement, g = document.getElementsByTagName('body')[0],
x = window.innerWidth || e.clientWidth || g.clientWidth,
y = window.innerHeight|| e.clientHeight|| g.clientHeight;

rakam.logEvent("pageview", {url: window.location.pathname, time_on_page: rakam.getTimeOnPreviousPage(), returning_session: rakam.isReturningUser(), color_depth: window.screen.colorDepth, viewport: x + ' × ' + y, title: document.title});
});
rakam.startTimer(true);

rakam.setSuperProperties({platform: 'Web', _ip: true, _user_agent:true, _referrer:document.referrer, resolution: window.screen.width+" × "+window.screen.height}, true);
</script>
<div class="container-fluid">
	<nav class="navbar navbar-fixed-top navbar-default nav-color ">
	<p>test</p>
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse" id="nav-collapse">
				  <ul class="nav link-color menu__list pull-left">
					<li class="menu__item"> <%= link_to 'Fablook', welcome_index_path, class: "" %> <span class="sr-only">(current)</span></li>
            		<li class=" menu__item"><%= link_to 'Stores', stores_path, class: "" %></li>
            		<li class="dropdown menu__item">
						<a href="" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sale <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><%= link_to 'Clothing', products_path + "?category_id=5" %></li>
                      <li><%= link_to 'Shoes', products_path + "?category_id=6"  %></li>
                      <li><%= link_to 'Beauty', products_path + "?category_id=11" %></li>
                      <li><%= link_to 'Accessories', products_path + "?category_id=9" %></li>
										</ul>
									</div>
								</div>
							</ul>
					</li>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fabs <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">

									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
                      <li><%= link_to 'Clothing', products_path + "?category_id=5" %></li>
                      <li><%= link_to 'Shoes', products_path + "?category_id=6"  %></li>
                      <li><%= link_to 'Beauty', products_path + "?category_id=11" %></li>
                      <li><%= link_to 'Accessories', products_path + "?category_id=9" %></li>
										</ul>

									</div>

									<div class="clearfix"></div>

								</div>
							</ul>
					</li>
					
				  </ul>
				<ul class="nav link-color menu__list pull-right">
				  <div class="col-md-12">
            <li>
                <!-- Searchbar -->
                <%= form_tag searches_index_path, :method => 'get', id: 'search-form' do %>
                  <p>
                    <%= text_field_tag :search, params[:search], placeholder: 'Search Style' , class: 'form-control'  %>
                   </p>
                <% end %>
            </li>
          </div>
        </ul>
        <ul>
        	<li>
						<ul class="nav link-color menu__list pull-right">
				  	<li class="menu__item"><a class="" href="https://medium.com/@TessieWaithira">Blog</a></li>
				  	<li class=" menu__item"><%= link_to 'My Style', styles_new_path, class: "" %></li>
              		<% if user_signed_in? %>
                  		<li class="dropdown">
                    		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      		<%= current_user.name %>
                      		<span class="caret"></span>
                    		</a>
                    		<ul class="dropdown-menu" role="menu">
                      			<li><%= link_to 'Profile', edit_user_registration_path %></li>
                      			<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                    		</ul>
                  		</li>
              		<% else %>
                  		<li class="dropdown">
                  			<ul class="dropdown-menu" role="menu">
                  				<li menu__item><%= link_to 'Log In', new_user_session_path %></li>
                  				<li menu__item><%= link_to 'Sign Up', new_user_registration_path %></li>
                  			</ul>
                  		</li>
              		<% end %>
              		</ul>
					</li>
        </ul>

				</div>


	</nav>
</div>
<hr>



