<h2>Review:</h2>
<%= form_for([@product, @product.reviews.build]) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :Review %><br>
      <%= f.text_area :comment %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>