<div class="container-fluid form-background">
  <div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1>Create <strong>personal Fablooks</strong> here</h1>
          <div class="description">
            <p>
              Take the Quiz and Discover Your Style Profile in Just a Few Minutes
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-box">
          <form role="form" action="" method="post" class="f1">
          <div class="f1-steps">
                                <div class="f1-progress">
                                    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                                </div>
                                <div class="f1-step active">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Style</p>
                                </div>
                                <div class="f1-step">
                                    <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                    <p>Size</p>
                                </div>
                                <div class="f1-step">
                                    <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                                    <p>Account</p>
                                </div>
                            </div>
            <fieldset>
             
            <div class="form-group">
              <p>What look as seen on Sharon Mundia best describes your style?</p>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style1" >
                    <label for="style1">
                      <%= image_tag(image_url('smart.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style2" >
                    <label for="style2">
                      <%= image_tag(image_url('office.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style3" >
                    <label for="style3">
                      <%= image_tag(image_url('gown.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style4" >
                    <label for="style4">
                      <%= image_tag(image_url('casual.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style5" >
                    <label for="style5">
                      <%= image_tag(image_url('brand.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style6" >
                    <label for="style6">
                      <%= image_tag(image_url('afric.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>
              </div>
              <br>
              <hr>
              <br>
              <p>It's time to update your shoe closet. You're in a shoe store. What type of shoes do you instinctively look for?</p>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe1" >
                    <label for="shoe1">
                      <%= image_tag(image_url('stilleto'))%>
                     

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe5" >
                    <label for="shoe5">
                      <%= image_tag(image_url('http://res.cloudinary.com/dazy8mpa6/image/upload/v1495562616/pumps_cwbk3u.jpg'))%>
                    
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe2" >
                    <label for="shoe2">
                      <%= image_tag(image_url('http://res.cloudinary.com/dazy8mpa6/image/upload/v1495562661/boots_qvm0ag.jpg'))%>
                     
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe3" >
                    <label for="shoe3">
                      <%= image_tag(image_url('http://res.cloudinary.com/dazy8mpa6/image/upload/v1495562662/canvas_ubvcmf.jpg'))%>
                     

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe6" >
                    <label for="shoe6">
                      <%= image_tag(image_url('flats.jpg'))%>
                     
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe4" >
                    <label for="shoe4">
                      <%= image_tag(image_url('sandals.jpg'))%>
                      
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <hr>
              <br>

              <div class="form-group"><p>Which fashion blogger best describes your style</p>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="diana" >
                    <label for="diana">
                      <%= image_tag(image_url('diana.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="nancie " >
                    <label for="nancie">
                      <%= image_tag(image_url('nancie.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="lucia" >
                    <label for="lucia">
                      <%= image_tag(image_url('lucia.jpg'))%>

                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="joy" >
                    <label for="joy">
                      <%= image_tag(image_url('joy.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="silvia" >
                    <label for="silvia">
                      <%= image_tag(image_url('silvia.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="ess" >
                    <label for="ess">
                      <%= image_tag(image_url('gown.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>

              <div class="f1-buttons">
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>


            <fieldset>
              <div class="form-group">
                <p>Which of these looks would you pull for a busy dat at work?</p>
                <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s1" >
                    <label for="s1">
                      <%= image_tag(image_url('s1.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s2 " >
                    <label for="s2">
                      <%= image_tag(image_url('s2.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s3" >
                    <label for="s3">
                      <%= image_tag(image_url('s3.jpg'))%>

                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s4" >
                    <label for="s4">
                      <%= image_tag(image_url('s4.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s5" >
                    <label for="s5">
                      <%= image_tag(image_url('s5.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s6" >
                    <label for="s6">
                      <%= image_tag(image_url('s6.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>

              </div>
              <hr>
              <br>
              <br>
              <div class="form-group">
                <p>Input your size details</p>
              <div>
                <input type="text" name="height" placeholder="How tall are you in cm?"><br><br>
                <p>What size do you typically wear?</p>
                <label for="Dresses">Clothing size</label>
                <select class="form-control">
                  <option value="">XS</option>
                  <option value="">S</option>
                  <option value="">M</option>
                  <option value="">XL</option>
                  <option value="">XXL</option>
                  <option value="" selected>L</option>
                </select>
                 <label for="Shoe">Shoe</label>
                <select class="form-control">
                  <option value="">4</option>
                  <option value="">5</option>
                  <option value="">6</option>
                  <option value="" selected>3</option>
                </select>  
                 <label for="Age Range">Age Range</label>
                <select class="form-control">
                  <option value="">16-20</option>
                  <option value="">21-25</option>
                  <option value="">Above 30</option>
                  <option value="" selected>26-30</option>
                </select>
                 <label for="Budget">Budget</label>
                <select class="form-control">
                  <option value="">20</option>
                  <option value="">40</option>
                  <option value="">Above $50</option>
                  <option value="" selected>$10</option>
                </select>       
              </div>
              <br>
              <hr>
              <div class="form-group">
                <p>Chose your top colors</p>
                  <input type="color" name="favcolor" value="#ff0000">
                  <input type="submit">
                  <input type="color" name="favcolor" value="#ff0000">
                  <input type="submit">
                  <input type="color" name="favcolor" value="#ff0000">
                  <input type="submit">

              </div>

              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>

           
            <fieldset>
              <h4>Set up your account:</h4>
              <div class="form-group">
                <label class="sr-only" for="f1-first-name">First name</label>
                <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control" id="f1-first-name" value="">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-last-name">Last name</label>
                <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control" id="f1-last-name" value="">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-email">Email</label>
                <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control" id="f1-email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-password">Password</label>
                <input type="password" name="f1-password" placeholder="Password..." class="f1-password form-control" id="f1-password">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                <input type="password" name="f1-repeat-password" placeholder="Repeat password..."
                       class="f1-repeat-password form-control" id="f1-repeat-password">
              </div>
              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">
                  <%= link_to 'View general products', products_path %>
                </button>
                <button type="submit" class="btn btn-next">Submit</button>
              </div>

            </fieldset>



          </form>
        </div>
      </div>

    </div>
  </div>
</div>