<div class="container-fluid">
  <div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text">
          <div class="description">
            <div class="row">
              <div class="col-md-4">
                <p>Take the quiz to find the perfect shapes and styles for you</p>
              </div> 
              <div class="col-md-4">
                <p>Tell us what like and dislike to keep your edits up to date</p>
              </div>
              <div class="col-md-4">
                <p>Check your wardrobe and inbox for edits tailored to you</p>                
              </div>                   
            </div>            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-box">
          <form role="form" action="" method="post" class="f1">
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="16.66%" data-number-of-steps="3" style="width: 16.66%%;"></div>
            </div>
            <div class="f1-step active">
              <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                <p>Inspiration</p>
            </div>
            <div class="f1-step">
              <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                <p>My style</p>
            </div>
            <div class="f1-step">
              <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                <p>Account</p>
            </div>
          </div>
          <hr>

          <fieldset>             
            <div class="form-group">
              <p>What look as seen on Sharon Mundia best describes your style?</p>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style1" value="Well groomed, sophisticated, organized, white, official suit" >
                    <label for="style1">
                      <%= image_tag(image_url('smart.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style2" value="office,smart,work" >
                    <label for="style2">
                      <%= image_tag(image_url('office.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style3" value="date night gown, dress, classy, stilleto, dark" >
                    <label for="style3">
                      <%= image_tag(image_url('gown.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style4" value="casual, laid back, simple, jeans, canvas, dark " >
                    <label for="style4">
                      <%= image_tag(image_url('casual.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style5" value="white, classy, trendy, pumps" >
                    <label for="style5">
                      <%= image_tag(image_url('brand.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style6" value="cultural, african,short, denim, prints" >
                    <label for="style6">
                      <%= image_tag(image_url('afric.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>
              </div>
              <br>
              <hr>
              <br>
              <div class="form-group">
                <p>Which of these looks would you pull for a busy dat at work?</p>
                <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s1" value="pruple, grey, sweater" >
                    <label for="s1">
                      <%= image_tag(image_url('s1.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s2 " value="red, bidy hugging, tight" >
                    <label for="s2">
                      <%= image_tag(image_url('s2.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s3" value="green, boots" >
                    <label for="s3">
                      <%= image_tag(image_url('s3.jpg'))%>

                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s4" value="orange, pullneck, jeans, black" >
                    <label for="s4">
                      <%= image_tag(image_url('s4.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s5" value="waterfall, rugged jeans, black" >
                    <label for="s5">
                      <%= image_tag(image_url('s5.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="s6" value="red, skater dress, pumps" >
                    <label for="s6">
                      <%= image_tag(image_url('s6.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>

              </div>             
              <br>
              <hr>
              <br>

              <div class="form-group"><p>Which fashion blogger best describes your style</p>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="diana" value="black, leather, skirt" >
                    <label for="diana">
                      <%= image_tag(image_url('diana.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="nancie " value="jeans, rugged jeans, denim" >
                    <label for="nancie">
                      <%= image_tag(image_url('nancie.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="lucia" value="office, jumpsuit, black, red, blazer" >
                    <label for="lucia">
                      <%= image_tag(image_url('lucia.jpg'))%>

                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="joy" value="boots, white, dress" >
                    <label for="joy">
                      <%= image_tag(image_url('joy.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="silvia" value="maroon, monochrome" >
                    <label for="silvia">
                      <%= image_tag(image_url('silvia.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="ess" value="gown, date, navy blue, dress" >
                    <label for="ess">
                      <%= image_tag(image_url('gown.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>

              <div class="f1-buttons">
                <button type="button" class="btn btn-next">Next</button>
              </div>
          </fieldset>


          <fieldset>
              
              <div class="form-group">
              <p>It's time to update your shoe closet. You're in a shoe store. What type of shoes do you instinctively look for?</p>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe1" value="stilleto, open shoes, straps, white, classy" >
                    <label for="shoe1">
                      <%= image_tag(image_url('stilleto.jpg'))%>                        
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe5" value="pumps,gold, office" >
                    <label for="shoe5">
                      <%= image_tag(image_url('pumps.jpg'))%>                   
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe2" value="boots,black" >
                    <label for="shoe2">
                      <%= image_tag(image_url('boots.jpg'))%>
                     
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <br>
               <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe3" value="canvas,white,casual" >
                    <label for="shoe3">
                      <%= image_tag(image_url('canvas.jpg'))%>
                     

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe6" value="ballerina flats, flats" >
                    <label for="shoe6">
                      <%= image_tag(image_url('flats.jpg'))%>
                     
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe4" value="open, sandals, flat, white" >
                    <label for="shoe4">
                      <%= image_tag(image_url('sandals.jpg'))%>
                      
                    </label>
                  </div>
                </div>
              </div>                
              </div>
              <hr>
              <br>
              <br>
              <div class="form-group">
              <div>
                <p>What size do you typically wear?</p>
                <label for="Dresses">Clothing size</label>
                <select class="form-control">
                  <option value="">XS</option>
                  <option value="">S</option>
                  <option value="">M</option>
                  <option value="">XL</option>
                  <option value="">XXL</option>
                  <option value="" selected>L</option>
                </select>
                 <label for="Shoe">Shoe</label>
                <select class="form-control">
                  <option value="">4</option>
                  <option value="">5</option>
                  <option value="">6</option>
                  <option value="" selected>3</option>
                </select>  
                 <label for="Age Range">Age Range</label>
                <select class="form-control">
                  <option value="">16-20</option>
                  <option value="">21-25</option>
                  <option value="">Above 30</option>
                  <option value="" selected>26-30</option>
                </select>
                 <label for="Budget">Budget</label>
                <select class="form-control">
                  <option value="">20</option>
                  <option value="">40</option>
                  <option value="">Above $50</option>
                  <option value="" selected>$10</option>
                </select>  
                <label for="Need">What do you want to get out of this quiz?</label>
                <select class="form-control">
                  <option value="">A complete style overhaul</option>
                  <option value="">Recommendation to fit my currrent style</option>
                  <option value="">Recommendations to suit my current style plus some new suggestions</option>
                  <option value="" selected>Fashion trends</option>
                </select> 
                <label for="Wear">Which of these do you love to wear?</label>
                <select class="form-control">
                  <option value="">Body con dress</option>
                  <option value="">Skater dress</option>
                  <option value="">Crop top</option>
                  <option value="">Pencil skirt</option>
                  <option value="" selected>Jeans</option>
                </select> 
                <label for="Makeover">Which among these is your favourite fashion store??</label>
                <select class="form-control">
                  <option value="">Mr. Price</option>
                  <option value="">Vivo active wear</option>
                  <option value="">H&M</option>
                  <option value="">Mimi fashion store</option>
                  <option value="" selected>Other</option>
                </select>   
              </div>
              <br>
              <hr>
              <div class="form-group">
                <p>Chose your top colors</p>
                  <input type="color" name="favcolor" value="#ff0000">
                  <input type="submit">
                  <input type="color" name="favcolor" value="#ff0000">
                  <input type="submit">
                  <input type="color" name="favcolor" value="#ff0000">
                  <input type="submit">

              </div>
              <hr>
              <br>
              <br>

              <div class="form-group">
              <p>Which of these these steal her style looks is your favourite?</p>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="rihanna1" value="Orange, white, pants" >
                    <label for="rihanna1">
                      <%= image_tag(image_url('rihanna1.jpg'))%>                        
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="rihanna2" value="canvas, blue" >
                    <label for="rihanna2">
                      <%= image_tag(image_url('rihanna2.jpg'))%>                   
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="rihanna3" value="army, gray, boots" >
                    <label for="rihanna3">
                      <%= image_tag(image_url('rihanna3.jpg'))%>
                     
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <br>
               <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="rihanna4" value="grey, casual, pants, hoodie" >
                    <label for="rihanna4">
                      <%= image_tag(image_url('rihanna4.jpg'))%>
                     

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="rihanna5" value="boots, cobalt boots, street, booty short" >
                    <label for="rihanna5">
                      <%= image_tag(image_url('rihanna5.jpg'))%>
                     
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="rihanna6" value="shorts, black, casual" >
                    <label for="rihanna6">
                      <%= image_tag(image_url('rihanna6.jpg'))%>
                      
                    </label>
                  </div>
                </div>
              </div>                
              </div>
              
              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
          </fieldset>

           
          <fieldset>

              <div class="form-group">
              <p>Which of these tsyles would you pick to make a statement?</p>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="twin1" value="pink,midi, croptop, jeans" >
                    <label for="twin1">
                      <%= image_tag(image_url('twin1.jpg'))%>                        
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="twin2" value="prints, unique" >
                    <label for="twin2">
                      <%= image_tag(image_url('twin2.jpg'))%>                   
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="twin3" value="monochrome, bright, orange, jumpsuit" >
                    <label for="twin3">
                      <%= image_tag(image_url('twin3.jpg'))%>
                     
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <br>
               <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="twin4" value="white, orange, black, buggy, free" >
                    <label for="twin4">
                      <%= image_tag(image_url('twin4.jpg'))%>
                     

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="twin5" value="versatile, black, gold," >
                    <label for="twin5">
                      <%= image_tag(image_url('twin5.jpg'))%>
                     
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="twin6" value="prints, african" >
                    <label for="twin6">
                      <%= image_tag(image_url('twin6.jpg'))%>
                      
                    </label>
                  </div>
                </div>
              </div>                
              </div>
              
              <h4>Set up your account:</h4>
              <div class="form-group">
                <label class="sr-only" for="f1-first-name">User name</label>
                <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control" id="f1-first-name" value="">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-email">Email</label>
                <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control" id="f1-email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-password">Password</label>
                <input type="password" name="f1-password" placeholder="Password..." class="f1-password form-control" id="f1-password">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                <input type="password" name="f1-repeat-password" placeholder="Repeat password..."
                       class="f1-repeat-password form-control" id="f1-repeat-password">
              </div>
              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">
                  <%= link_to 'View general products', products_path %>
                </button>
                <button type="submit" class="btn btn-next">Submit</button>
              </div>

          </fieldset>



          </form>
        </div>
      </div>

    </div>
  </div>
</div>