<div class="container-fluid form-background">
  <div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1>Create <strong>personal Fablooks</strong> here</h1>
          <div class="description">
            <p>
              Take the Quiz and Discover Your Style Profile in Just a Few Minutes
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-box">
          <form role="form" action="" method="post" class="f1">

            <fieldset>
              <p>It's time to update your shoe closet. You're in a shoe store. What type of shoes do you instinctively look for?</p>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe1" >
                    <label for="shoe1">
                      <%= image_tag(image_url('http://res.cloudinary.com/dazy8mpa6/image/upload/v1495562616/pumps_cwbk3u.jpg'))%>
                      <p>Ankle Strap Heels</p>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe5" >
                    <label for="shoe5">
                      <%= image_tag(image_url('http://res.cloudinary.com/dazy8mpa6/image/upload/v1495562616/pumps_cwbk3u.jpg'))%>
                      <p>Pumps</p>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe2" >
                    <label for="shoe2">
                      <%= image_tag(image_url('http://res.cloudinary.com/dazy8mpa6/image/upload/v1495562661/boots_qvm0ag.jpg'))%>
                      <p>Boots</p>
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe3" >
                    <label for="shoe3">
                      <%= image_tag(image_url('http://res.cloudinary.com/dazy8mpa6/image/upload/v1495562662/canvas_ubvcmf.jpg'))%>
                      <p>Canvas</p>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe6" >
                    <label for="shoe6">
                      <%= image_tag(image_url('flats.jpg'))%>
                      <p>Ballerina flats</p>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="shoe4" >
                    <label for="shoe4">
                      <%= image_tag(image_url('sandals.jpg'))%>
                      <p>Sandals</p>

                    </label>
                  </div>
                </div>
              </div>

              <div class="f1-buttons">
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>


            <fieldset>
              <div class="form-group">
                <p>Select the line with the words that best describe your personality</p>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Well groomed, sophisticated, organized</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Trendsetter, Label aware, spontaneous</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Friendly, Casual, Athletic</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Futuristic, adventurous, culture and music gal
                  </label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Unconventional, Laid-back, Creative</label>
                </div>
              </div>
              <div class="form-group">
                <p>So if you were to win a closet makeover from your favorite store, which one would that be?</p>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Vivo active wear</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Mimi</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Jumia</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Kilimall
                  </label>
                </div>
              </div>

              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>

            <fieldset>
              <p>What best describes your style</p>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style1" >
                    <label for="style1">
                      <%= image_tag(image_url('smart.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style2" >
                    <label for="style2">
                      <%= image_tag(image_url('office.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style3" >
                    <label for="style3">
                      <%= image_tag(image_url('gown.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style4" >
                    <label for="style4">
                      <%= image_tag(image_url('casual.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style5" >
                    <label for="style5">
                      <%= image_tag(image_url('brand.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="style6" >
                    <label for="style6">
                      <%= image_tag(image_url('afric.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>

              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>


            <fieldset>
              <div class="form-group">
                <p>What's your favourite colors</p>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Neutrals, black, whites</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label> I like bold, fun and girly colors such as pinks, bright blues, reds, orange and yellow</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>I like colors that represent authority. I usually stick to two-tone color </label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>I like mixing all kinds of colors together.
                  </label>
                </div>
              </div>
              <div class="form-group">
                <p>Imagine you won a gift card to buy your dream outfit. Choose the line that best describes the outfit you would choose</p>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Trendy leggings, latest tunic top, chunky gladiator 4-inch heels</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Low rise jeans, simple tunic top, sneakers and small stud earrings </label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Flowy dress or anything with ethnic patterns, cowboy boots</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Official dress, Platform shoes that matches handbag, A colored blazer
                  </label>
                </div>
              </div>


              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>


            <fieldset>
              <div class="form-group">
                <p>What do you feel most comfortable in?</p>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>A suit</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Sport clothes</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Leather Jacket</label>
                </div>
                <div>
                  <input type="checkbox" name="style" value="">
                  <label>Casual wear</label>
                </div>
                <div class="form-group">
                  <p>Describe your lifestyle in just one word</p>
                  <div>
                    <input type="checkbox" name="style" value="">
                    <label>Career</label>
                  </div>
                  <div>
                    <input type="checkbox" name="style" value="">
                    <label>Active</label>
                  </div>
                  <div>
                    <input type="checkbox" name="style" value="">
                    <label>Family</label>
                  </div>
                  <div>
                    <input type="checkbox" name="style" value="">
                    <label>Social</label>
                  </div>
                </div>
              </div>
              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>

            <fieldset>
              <p>Which fashion blogger best describes your style</p>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="diana" >
                    <label for="diana">
                      <%= image_tag(image_url('diana.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="nancie " >
                    <label for="nancie">
                      <%= image_tag(image_url('nancie.jpg'))%>
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="lucia" >
                    <label for="lucia">
                      <%= image_tag(image_url('lucia.jpg'))%>

                    </label>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="joy" >
                    <label for="joy">
                      <%= image_tag(image_url('joy.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="silvia" >
                    <label for="silvia">
                      <%= image_tag(image_url('silvia.jpg'))%>

                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <input type="checkbox" name="style" id="ess" >
                    <label for="ess">
                      <%= image_tag(image_url('gown.jpg'))%>
                    </label>
                  </div>
                </div>
              </div>

              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>







            <fieldset>
              <p>Input your size details</p>
              <div class="form-group">
                <input type="text" name="height" placeholder="How tall are you?"><br><br>
                <p>What size do you typically wear?</p>
                <input type="text" name="dresses" placeholder="Dresses">
                <input type="text" name="shirt" placeholder="Shirt and blouse">
                <input type="text" name="Bra" placeholder="Bra">
                <input type="text" name="Skirt" placeholder="Skirt"><br><br>
                <input type="text" name="pants" placeholder="Pants">
                <input type="text" name="jeans" placeholder="Jeans waist">
                <input type="text" name="shoe" placeholder="shoe"><br><br>
                <p>Whats your budget</p>
                <input type="text" name="Budget">
              </div>
              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>




            <fieldset>
              <h4>Set up your account:</h4>
              <div class="form-group">
                <label class="sr-only" for="f1-first-name">First name</label>
                <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control" id="f1-first-name" value="">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-last-name">Last name</label>
                <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control" id="f1-last-name" value="">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-email">Email</label>
                <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control" id="f1-email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-password">Password</label>
                <input type="password" name="f1-password" placeholder="Password..." class="f1-password form-control" id="f1-password">
              </div>
              <div class="form-group">
                <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                <input type="password" name="f1-repeat-password" placeholder="Repeat password..."
                       class="f1-repeat-password form-control" id="f1-repeat-password">
              </div>
              <div class="f1-buttons">
                <button type="button" class="btn btn-previous">
                  <%= link_to 'View general products', products_path %>
                </button>
                <button type="button" class="btn btn-next">Take your style quiz</button>
              </div>

            </fieldset>



          </form>
        </div>
      </div>

    </div>
  </div>
</div>