<h1>Search results</h1>

<%= link_to 'Back', 'new_search_path' %>

<% if @search.search_products.empty? %>
  <p>No records exist</p>

<% else %>
  <% @search.search_products.each do |s|%>
    <br>

    <div>
      <h1><%= s.name %></h1>
      <p>Price: <%= s.price %></p>
      <p>category: <%= s.category %></p>
       <%= image_tag s.image_url(:thumbnail), :width => 315, :height => 400%>
    </div>
  <% end %>
<% end %>
