<div class="product"></div>
<div class="container-fluid products">
  <%if current_user%>
   <p>Matching Products</p>
  <% else %>
      <p>Products</p>
  <% end%>
  <hr>
  <div class="row">
    <div class="col-md-3">
    <p>Category</p>
        <ul class="list-unstyled">
          <li><%= link_to 'Clothing', products_path + "?category_id=5" %></li>
          <li><%= link_to 'Shoes', products_path + "?category_id=6"  %></li>
          <li><%= link_to 'Beauty', products_path + "?category_id=11" %></li>
          <li><%= link_to 'Accessories', products_path + "?category_id=9" %></li>
        </ul>
    <hr>     
    <p>Price</p>
    <select>
      <option value="">16-20</option>
      <option value="">21-25</option>
      <option value="">Above 30</option>
      <option value="" selected>$20</option>
    </select> 
    <hr>
    <p>Sorted by</p>
    <select>
      <option value="">16-20</option>
      <option value="">21-25</option>
      <option value="">Above 30</option>
      <option value="" selected>Store</option>
    </select>
    <hr>
                   
    </div>
    <div class="col-md-9">
       <% @products.in_groups_of(4, false) do |group| %>
          <div class="row">
             <% group.each do |product| %>

                  <div class="col-md-3">
                    <div class="card demo-card" style="width: 20rem; ">
                      <%= image_tag product.image_url(:thumbnail), class: "card-img-top img-size" %>
                      <div class="card-block">
                       <p><%= product.name %> </p>
                       <p class="item_price">$<%= product.price %></p>
                       <%= link_to 'View Details', product_path(product) , class: "btn btn-default" %>
                      </div>
                    </div>
                  </div>

            <% end %>
          </div>
      <% end %>

    </div>

  </div>
</div>

