<div class="product"></div>
<div class="container">
  <div class="row product">
    <div class="col-md-4">
      <%= image_tag @product.image_url(:thumbnail), :width => 400, :height => 400, :class => "img-responsive" %>          
    </div>
    <div class="col-md-8">
      <div class="row">
      <p>Product overview</p>
      <hr>
      <div class="info-product-price">
        <h4><a href="details.html"><%= @product.name %></a></h4>
        <span class="item_price">$<%= @product.price %></span>
      </div>
      <hr>
      <p>Share</p>
      <%= social_share_button_tag(@product.name, :allow_sites => %w(twitter facebook)) %>
      <hr>
      <div>
      <p>Like|Dislike</p>
      <button class="btn btn-large">
       <%= link_to like_product_path(@product), method: :put do %>
        <i class="fa fa-heart" aria-hidden="true">
          <%= @product.get_upvotes.size %>          
        </i>
        <% end %>
        <%= link_to unlike_product_path(@product), method: :put do %>
        <i class="fa fa-thumbs-down" aria-hidden="true">
          <span class=“badge”><%= @product.get_downvotes.size %></span>          
        </i>
        <% end %>        
      </button>
       
      </div>
      <hr>
      <button class="btn btn-warning btn-large">buy now</button>        
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>Product Brief Description</p>
            <p> <%= @product.description %> </p>          
        </div>
        <div class="col-md-6 verticalline">
        <h4>Add a review</h4>
                  <% @product.reviews.each do |review| %>
                      <p>
                        <strong>name:</strong>
                        <%= review.name %>
                      </p>

                      <p>
                        <%= review.comment %>
                      </p>
                  <% end %>
                  <%= render 'partials/review' %>          
        </div>        
      </div>         
    </div>
  </div>  
</div>
</div>
<hr>
